<!-- HEADER -->
<header>
  <!-- TOP HEADER -->
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li>
          <a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a>
        </li>
      </ul>
      <ul class="header-links pull-right">
        <li>
          <a href="#"><i class="fa fa-dollar"></i> USD</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-user-o"></i> My Account</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- /TOP HEADER -->

  <!-- MAIN HEADER -->
  <div id="header">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row d-flex justify-content-between">
        <!-- LOGO -->
        <div class="col-md-3">
          <div class="header-logo">
            <a routerLink="/" class="logo">
              <img src="/assets/img/logo.png" alt="" />
            </a>
          </div>
        </div>
        <!-- /LOGO -->

        <!-- ACCOUNT -->
        <div class="col-md-3 clearfix">
          <div class="header-ctn">
            <!-- Cart -->
            <div class="dropdown" ngbDropdown>
              <a
                class="dropdown-toggle"
                style="cursor: pointer"
                id="your-cart"
                ngbDropdownToggle
              >
                <i class="fa fa-shopping-cart"></i>
                <span>Giỏ Hàng</span>
                <div
                  class="qty"
                  [innerHTML]="_.sumBy(cartData.data, 'quantity')"
                ></div>
              </a>
              <div
                class="cart-dropdown"
                ngbDropdownMenu
                aria-labelledby="your-cart"
              >
                <div
                  class="cart-list"
                  *ngIf="cartData.data[0].quantity > 0"
                  ngbDropdownItem
                >
                  <div
                    class="product-widget"
                    *ngFor="let d of cartData.data; let i = index"
                  >
                    <div class="product-img">
                      <img [src]="d.product.image" alt="" />
                    </div>
                    <div class="product-body" [routerLink]="['/product', d.product.id]">
                      <h3 class="product-name">
                        <a
                          [routerLink]="['/product', d.product.id]"
                          [innerHTML]="d.product.title"
                        ></a>
                      </h3>
                      <h4 class="product-price">
                        <span class="qty" [innerHTML]="d.quantity + 'x'"></span
                        >{{ d.product | currency: "VND" }}
                      </h4>
                    </div>
                    <button
                      class="delete"
                      (click)="cartService.deleteFromCart(i)"
                    >
                      <i class="fa fa-close"></i>
                    </button>
                  </div>
                </div>
                <div class="cart-summary" ngbDropdownItem>
                  <small
                    [innerHTML]="
                      'Đã chọn ' +
                      _.sumBy(cartData.data, 'quantity') +
                      ' sản phẩm'
                    "
                  ></small>
                  <h5>TỔNG CỘNG: {{ cartData.total | currency: "VND" }}</h5>
                </div>
                <div class="cart-btns" ngbDropdownItem>
                  <a routerLink="/cart">GIỎ HÀNG</a>
                  <a routerLink="/checkout"
                    >THANH TOÁN <i class="fa fa-arrow-circle-right"></i
                  ></a>
                </div>
              </div>
            </div>
            <!-- /Cart -->

            <!-- Menu Toogle -->
            <div class="menu-toggle">
              <a href="#">
                <i class="fa fa-bars"></i>
                <span>Menu</span>
              </a>
            </div>
            <!-- /Menu Toogle -->
          </div>
        </div>
        <!-- /ACCOUNT -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
      <!-- NAV -->
      <ul class="main-nav nav my-2">
        <li class="active"><a routerLink="/">Trang chủ</a></li>
        <!-- <li><a href="#">Hot Deals</a></li> -->
      </ul>
      <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
</nav>
<!-- /NAVIGATION -->
